<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    following
    <strong id="following" clas="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <% if Rails.env.development? %>
    <span id="id123">hello</span>
  <% end %>
</div>